{% extends 'base.html' %}


{% block title1 %}
<title>CARS</title>
{% endblock %}

{% block title %}
<h1>МАРКИ</h1>
{% endblock %}

{% block content %}
<form method="get">
        {{ filters.form.as_p }}
        <input type="submit" />
    </form>
<div class="col-md-9">
    {% for item in filters.qs %}
    <div class="card ">
        <div class="card-header h3">
            {{ item.marka }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.car_name }}</h5>
            {% if item.car_img %}
            <img src="{{ item.car_img.url }}" class="card ml-3, mt-3, mb-3" alt="" width="854" height="480">
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
