{% extends 'base.html' %}


{% block title1 %}
<title>{{ marka }}</title>
{% endblock %}

{% block title %}
<h1>{{ marka }}</h1>
{% endblock %}

{% block content %}
<div class="col-md-9">
    {% for item in car_info %}
    <div class="card mb-3 mt-3">
        <div class="card-header h3">
            {{ item.marka }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.car_name }}</h5>
            <p class="card-text">{{ item.information }}</p>
            {% if item.car_img %}
            <img src="{{ item.car_img.url }}" class="card ml-3, mt-3, mb-3" alt="" width="854" height="480">
            {% endif %}
            <a href="#" class="btn btn-outline-primary">Еще?</a>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}